<div class="container">
  <h1>Products</h1>
  <div class="d-flex flex-wrap justify-content-center gap-3">
    <% @products.each do |product| %>
    <% if product.stock > 0 %>
       <div class="card" style="width: 18rem;">
      <% if product.photo.key != nil %>
      <%= cl_image_tag(product.photo.key,
          height: 300, crop: :fill) %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text">Fecha de vencimiento: <br> <%= product.expiration_date %></p>
        <p class="card-text">Precio: $<%= product.price %></p>
        <p class="card-text">Stock: <%= product.stock %></p>
        <div class="d-flex justify-content-between">
        <h4><%= link_to "Ver producto", product_path(product.id), class: "btn btn-primary" %></h4>
        <h4><%= button_to "Comprar", transactions_path(product_id: product.id), class: "btn btn-primary" %></h4>
        </div>

      </div>
    </div>
    <% end %>

    <% end %>
  </div>
</div>
