<div class="container">
  <div class= "d-flex justify-content-between m-4">
    <h1>Mis productos</h1>
    <%= link_to "Nuevo producto", new_product_path, class:"btn btn-flat"%>
  </div>

  <div class="d-flex flex-wrap justify-content-center gap-3">
    <% if @products.size > 0 %>
      <% @products.each do |product| %>
      <div class="card" style="width: 18rem;">
        <% if product.photo.key != nil %>
        <%= cl_image_tag(product.photo.key,
            height: 300, crop: :fill) %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text">Fecha de vencimiento: <br> <%= product.expiration_date %></p>
          <p class="card-text">Precio: $<%= product.price %></p>
          <p class="card-text">Stock: <%= product.stock %></p>
          <h4><%= link_to "Ver producto", product_path(product.id), class: "btn btn-primary" %></h4>
          <h4><%= link_to "Editar", edit_product_path(product.id), class: "btn btn-primary" %></h4>
          <%= link_to "X", product_path(product.id), data: {turbo_method: :delete, turbo_confirm: "¿Seguro que quieres borrar este producto?"} %>
        </div>
      </div>
      <% end %>
    <% else %>
    <p>No hay productos disponibles</p>
    <% end %>
  </div>
</div>
