<div class="container">
<h1><%= @product.name %></h1>
<% if @product.photo.key != nil %>
<%= cl_image_tag(@product.photo.key,
      width: 400, height: 300, crop: :fill) %>
<% end %>
<p>Category: <%=@product.category %></p>
<p>Expiration date: <strong><%=@product.expiration_date %></strong></p>
<p>Stock: <%=@product.stock %></p>
<p>Price: <%=@product.price %></p>
<%= link_to "Volver", products_path %>
</div>
